In [67]:
## Task 1: We have to do a 4 Class Classification: - Supp, Elite, Credit

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
data = pd.read_csv('./Dataset/Training_Dataset.csv')

In [70]:
# Dropping Mvar1, Label Encoding Categorical Variable -> Mvar 12, Seperating Target Variabele

In [71]:
data.drop('mvar1',inplace=True,axis=1)
data.drop('cm_key',inplace=True,axis=1)

In [72]:
from sklearn import preprocessing

In [73]:
le = preprocessing.LabelEncoder()

In [74]:
le.fit(data['mvar12'])

LabelEncoder()

In [75]:
list(le.classes_)

['Apparel',
 'Automotive         ',
 'Construction       ',
 'Consumables        ',
 'Durable goods      ',
 'Entertainment      ',
 'Finance            ',
 'Household          ',
 'Manufacturing      ',
 'Mining             ',
 'Misc services      ',
 'Non durable goods  ',
 'Office supplies    ',
 'Personal services  ',
 'Produce            ',
 'Social services    ',
 'Transport          ',
 'Unknown            ']

In [76]:
data['mvar12'] = le.transform(data['mvar12'])

In [77]:
target = list()
for i in range(len(data)):
    if data['mvar49'][i] == 1:
        target.append('Supp')
    elif data['mvar50'][i] == 1:
        target.append('Elite')
    elif data['mvar51'][i] == 1:
        target.append('Credit')

In [78]:
len(target)

8878

In [79]:
len(data)

40000

In [80]:
target = list()
for i in range(len(data)):
    if data['mvar49'][i] == 1:
        target.append('Supp')
    elif data['mvar50'][i] == 1:
        target.append('Elite')
    elif data['mvar51'][i] == 1:
        target.append('Credit')
    else:
        target.append('None')

In [81]:
len(target)

40000

In [82]:
data.head()

,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,mvar48,mvar49,mvar50,mvar51
0,0,106920,4,18,970,0.7969,0.1831,337236,1,6.0899,...,0,0,0,0,0,0,1,0,0,0
1,2,0,4,19,1030,0.0678,0.0000,2918974,1,4.2016,...,0,0,0,0,1,0,0,0,0,0
2,2,399168,4,35,327,0.7551,0.2986,498656,0,3.3760,...,0,0,0,0,0,0,1,0,0,0
3,0,267300,4,274,1258,0.7969,0.5297,2480074,1,4.1082,...,0,1,0,0,0,0,1,0,0,1
4,0,213840,6,1,0,2.3238,0.0000,2918974,0,0.0000,...,0,0,0,0,1,0,0,1,0,0

In [83]:
data.drop('mvar46',inplace=True,axis=1)
data.drop('mvar47',inplace=True,axis=1)
data.drop('mvar48',inplace=True,axis=1)
data.drop('mvar49',inplace=True,axis=1)
data.drop('mvar50',inplace=True,axis=1)
data.drop('mvar51',inplace=True,axis=1)

In [84]:
data.head()

,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45
0,0,106920,4,18,970,0.7969,0.1831,337236,1,6.0899,...,208276.89,129504.66,173841.11,131011.34,0,0,0,0,0,0
1,2,0,4,19,1030,0.0678,0.0000,2918974,1,4.2016,...,10324.13,3666.10,21049.55,9146.66,0,0,0,0,0,0
2,2,399168,4,35,327,0.7551,0.2986,498656,0,3.3760,...,55201.56,85357.68,38022.78,29979.13,0,0,0,0,0,0
3,0,267300,4,274,1258,0.7969,0.5297,2480074,1,4.1082,...,31921.09,35437.46,23934.82,33299.45,1,0,0,1,0,0
4,0,213840,6,1,0,2.3238,0.0000,2918974,0,0.0000,...,125878.30,91078.15,112817.05,53185.85,0,0,0,0,0,0

In [85]:
data['mvar12'].head()

0    12
1    17
2    10
3    15
4    17
Name: mvar12, dtype: int64

In [86]:
min_max_scaler = preprocessing.MinMaxScaler()

In [87]:
X = min_max_scaler.fit_transform(data)

In [88]:
X

array([[ 0.        ,  0.24600291,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.        ,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.91841087,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.16666667, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.06970083,  0.75      , ...,  0.        ,
         0.5       ,  0.        ],
       [ 0.72727273,  0.        ,  0.08333333, ...,  0.        ,
         0.        ,  0.        ]])

In [89]:
from sklearn.ensemble import RandomForestClassifier

In [90]:
clf = RandomForestClassifier()

In [91]:
clf.fit(X,target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

## Predicting on LeaderBoard Data

In [98]:
leader = pd.read_csv('./Dataset/Leaderboard_Dataset.csv')

In [99]:
cm_key = leader['cm_key']

In [116]:
#cm_key

In [102]:
leader.drop('mvar1',inplace=True,axis=1)
leader.drop('cm_key',inplace=True,axis=1)

In [103]:
leader['mvar12'] = le.transform(leader['mvar12'])

In [104]:
min_max_scaler = preprocessing.MinMaxScaler()

In [105]:
X_1 = min_max_scaler.fit_transform(leader)

In [107]:
out = clf.predict(X_1)

In [108]:
len(leader)

10000

In [109]:
len(out)

10000

In [122]:
sub = pd.DataFrame({'cm_key':cm_key,'pred':out})

In [123]:
sub_copy = sub

In [124]:
sub = sub[sub.pred != 'None']

In [125]:
sub

      cm_key    pred
2      50003    Supp
6      50007    Supp
10     50011   Elite
15     50016   Elite
31     50032   Elite
33     50034    Supp
36     50037  Credit
48     50049  Credit
78     50079   Elite
84     50085   Elite
117    50118  Credit
124    50125  Credit
126    50127    Supp
128    50129    Supp
136    50137  Credit
154    50155   Elite
164    50165    Supp
165    50166  Credit
166    50167  Credit
168    50169  Credit
170    50171   Elite
173    50174   Elite
175    50176  Credit
176    50177  Credit
200    50201  Credit
217    50218    Supp
229    50230  Credit
249    50250  Credit
250    50251    Supp
253    50254    Supp
...      ...     ...
9712   59713  Credit
9713   59714   Elite
9715   59716   Elite
9721   59722  Credit
9742   59743    Supp
9743   59744    Supp
9755   59756   Elite
9759   59760  Credit
9768   59769  Credit
9773   59774   Elite
9775   59776    Supp
9788   59789    Supp
9800   59801   Elite
9817   59818   Elite
9820   59821  Credit
9832   59833   Elite
9834   59835  Credit
9856   59857    Supp
9859   59860    Supp
9882   59883    Supp
9907   59908  Credit
9925   59926    Supp
9932   59933   Elite
9940   59941    Supp
9960   59961   Elite
9961   59962    Supp
9964   59965   Elite
9978   59979  Credit
9984   59985   Elite
9994   59995   Elite

[1081 rows x 2 columns]

In [127]:
sub = sub[:1000]

In [128]:
len(sub)

1000

In [129]:
sub.to_csv("Envible_VITVellore_1.csv",index=False)