In [67]:
## Task 1: We have to do a 4 Class Classification: - Supp, Elite, Credit

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
data = pd.read_csv('./Dataset/Training_Dataset.csv')

In [70]:
# Dropping Mvar1, Label Encoding Categorical Variable -> Mvar 12, Seperating Target Variabele

In [71]:
data.drop('mvar1',inplace=True,axis=1)
data.drop('cm_key',inplace=True,axis=1)

In [72]:
from sklearn import preprocessing

In [73]:
le = preprocessing.LabelEncoder()

In [74]:
le.fit(data['mvar12'])

LabelEncoder()

In [75]:
list(le.classes_)

['Apparel',
 'Automotive         ',
 'Construction       ',
 'Consumables        ',
 'Durable goods      ',
 'Entertainment      ',
 'Finance            ',
 'Household          ',
 'Manufacturing      ',
 'Mining             ',
 'Misc services      ',
 'Non durable goods  ',
 'Office supplies    ',
 'Personal services  ',
 'Produce            ',
 'Social services    ',
 'Transport          ',
 'Unknown            ']

In [76]:
data['mvar12'] = le.transform(data['mvar12'])

In [77]:
target = list()
for i in range(len(data)):
    if data['mvar49'][i] == 1:
        target.append('Supp')
    elif data['mvar50'][i] == 1:
        target.append('Elite')
    elif data['mvar51'][i] == 1:
        target.append('Credit')

In [78]:
len(target)

8878

In [79]:
len(data)

40000

In [80]:
target = list()
for i in range(len(data)):
    if data['mvar49'][i] == 1:
        target.append('Supp')
    elif data['mvar50'][i] == 1:
        target.append('Elite')
    elif data['mvar51'][i] == 1:
        target.append('Credit')
    else:
        target.append('None')

In [81]:
len(target)

40000

In [82]:
data.head()

,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,mvar48,mvar49,mvar50,mvar51
0,0,106920,4,18,970,0.7969,0.1831,337236,1,6.0899,...,0,0,0,0,0,0,1,0,0,0
1,2,0,4,19,1030,0.0678,0.0000,2918974,1,4.2016,...,0,0,0,0,1,0,0,0,0,0
2,2,399168,4,35,327,0.7551,0.2986,498656,0,3.3760,...,0,0,0,0,0,0,1,0,0,0
3,0,267300,4,274,1258,0.7969,0.5297,2480074,1,4.1082,...,0,1,0,0,0,0,1,0,0,1
4,0,213840,6,1,0,2.3238,0.0000,2918974,0,0.0000,...,0,0,0,0,1,0,0,1,0,0

In [83]:
data.drop('mvar46',inplace=True,axis=1)
data.drop('mvar47',inplace=True,axis=1)
data.drop('mvar48',inplace=True,axis=1)
data.drop('mvar49',inplace=True,axis=1)
data.drop('mvar50',inplace=True,axis=1)
data.drop('mvar51',inplace=True,axis=1)

In [84]:
data.head()

,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45
0,0,106920,4,18,970,0.7969,0.1831,337236,1,6.0899,...,208276.89,129504.66,173841.11,131011.34,0,0,0,0,0,0
1,2,0,4,19,1030,0.0678,0.0000,2918974,1,4.2016,...,10324.13,3666.10,21049.55,9146.66,0,0,0,0,0,0
2,2,399168,4,35,327,0.7551,0.2986,498656,0,3.3760,...,55201.56,85357.68,38022.78,29979.13,0,0,0,0,0,0
3,0,267300,4,274,1258,0.7969,0.5297,2480074,1,4.1082,...,31921.09,35437.46,23934.82,33299.45,1,0,0,1,0,0
4,0,213840,6,1,0,2.3238,0.0000,2918974,0,0.0000,...,125878.30,91078.15,112817.05,53185.85,0,0,0,0,0,0

In [85]:
data['mvar12'].head()

0    12
1    17
2    10
3    15
4    17
Name: mvar12, dtype: int64

In [86]:
min_max_scaler = preprocessing.MinMaxScaler()

In [87]:
X = min_max_scaler.fit_transform(data)

In [88]:
X

array([[ 0.        ,  0.24600291,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.        ,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.91841087,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.16666667, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.18181818,  0.06970083,  0.75      , ...,  0.        ,
         0.5       ,  0.        ],
       [ 0.72727273,  0.        ,  0.08333333, ...,  0.        ,
         0.        ,  0.        ]])

## Model 1: Random Forest Classifier

In [89]:
from sklearn.ensemble import RandomForestClassifier

In [90]:
clf = RandomForestClassifier()

In [91]:
clf.fit(X,target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

## Model 2: SVM Classifier

In [132]:
from sklearn import svm

In [145]:
clf2 = svm.SVC(decision_function_shape='ovo')

In [146]:
clf2.fit(X,target)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## Model 3: SGD Classifier

In [168]:
from sklearn import linear_model

In [238]:
clf3 = linear_model.SGDClassifier(loss='log', penalty='elasticnet',alpha=0.0001,n_iter = 1000)

In [ ]:
clf3.fit(X,target)

## Predicting on LeaderBoard Data

In [222]:
leader = pd.read_csv('./Dataset/Leaderboard_Dataset.csv')

In [223]:
cm_key = leader['cm_key']

In [224]:
#cm_key

In [225]:
leader.drop('mvar1',inplace=True,axis=1)
leader.drop('cm_key',inplace=True,axis=1)

In [226]:
leader['mvar12'] = le.transform(leader['mvar12'])

In [227]:
min_max_scaler = preprocessing.MinMaxScaler()

In [228]:
X_1 = min_max_scaler.fit_transform(leader)

### Change the Classifier Here

In [229]:
out = clf3.predict(X_1)

In [230]:
len(leader)

10000

In [231]:
len(out)

10000

In [232]:
sub = pd.DataFrame({'cm_key':cm_key,'pred':out})

In [233]:
sub_copy = sub

In [234]:
sub = sub[sub.pred != 'None']

In [235]:
#sub

In [236]:
sub = sub[:1000]

In [237]:
len(sub)

17

In [129]:
sub.to_csv("Envible_VITVellore_2.csv",index=False)